@import './components/IconDialog/index.styl';
// @import 'blueberry-button/libs/components/BlueberryBtn.css';
// @import '~blueberry-button/libs/components/BlueberryBtn.css';


.lethargic-dialog .dialog-row
  display: flex
